In [31]:
# Expense tracker system

In [1]:
import pandas as pd
import numpy as np

In [3]:
Expense_ID =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expense_ID

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
Expenses = {
    "Expense_ID": [1,2,3,4, 5, 6, 7, 8, 9, 10],
    "Category": ["Food", "Transport", "Groceries", "Rent", "Utilities",
        "Entertainment", "Food", "Medical", "Education", "Misc"],
    "Amount": [150.0, 100.0, 1500.0,8000.0, 1200.0,
        300.0, 200.0, 500.0, 2500.0, 23500.0],
    "Note": ["Lunch", "Bus fare", "Monthly groceries", "House rent",
        "Electricity bill", "Movie", "Dinner",
        "Medicine", "Course fee", "Other expenses"]}
Expenses

{'Expense_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'Category': ['Food',
  'Transport',
  'Groceries',
  'Rent',
  'Utilities',
  'Entertainment',
  'Food',
  'Medical',
  'Education',
  'Misc'],
 'Amount': [150.0,
  100.0,
  1500.0,
  8000.0,
  1200.0,
  300.0,
  200.0,
  500.0,
  2500.0,
  23500.0],
 'Note': ['Lunch',
  'Bus fare',
  'Monthly groceries',
  'House rent',
  'Electricity bill',
  'Movie',
  'Dinner',
  'Medicine',
  'Course fee',
  'Other expenses']}

In [22]:
dt=pd.DataFrame(Expenses)
dt

   Expense_ID       Category   Amount               Note
0           1           Food    150.0              Lunch
1           2      Transport    100.0           Bus fare
2           3      Groceries   1500.0  Monthly groceries
3           4           Rent   8000.0         House rent
4           5      Utilities   1200.0   Electricity bill
5           6  Entertainment    300.0              Movie
6           7           Food    200.0             Dinner
7           8        Medical    500.0           Medicine
8           9      Education   2500.0         Course fee
9          10           Misc  23500.0     Other expenses

In [14]:
dt2 ={"Expense_ID": [1,2,3],
    "Category": ["Food", "Transport", "Groceries"],
    "Amount": [150.0, 100.0, 1500.0],
     "Note": ["Lunch", "Bus fare", "Monthly groceries"]}
dt2

{'Expense_ID': [1, 2, 3],
 'Category': ['Food', 'Transport', 'Groceries'],
 'Amount': [150.0, 100.0, 1500.0],
 'Note': ['Lunch', 'Bus fare', 'Monthly groceries']}

In [30]:
# Expense Tracker
expense = {
    "Expense_ID": [],
    "Category": [],
    "Amount": [],
    "Note": []}

while True:
    print("\n--- Expense Tracker ---")
    print("1. View Expense")
    print("2. Add Expense")
    print("3. Exit")

    choice = input("Enter choice: ")

    # View Expenses
    if choice == "1":
        for i in range(len(expense["Expense_ID"])):
            print(
                expense["Expense_ID"][i],
                expense["Category"][i],
                expense["Amount"][i],
                expense["Note"][i])

    # Add Expense
    elif choice == "2":
        expense["Expense_ID"].append(len(expense["Expense_ID"]) + 1)
        expense["Category"].append(input("Enter Category: "))
        expense["Amount"].append(float(input("Enter Amount: ")))
        expense["Note"].append(input("Enter Note: "))

        print("Expense added!")

    # Exit
    elif choice == "3":
        print("Exiting Expense Tracker...")
        break

    else:
        print("Invalid choice!")

--- Expense Tracker ---
1. View Expense
2. Add Expense
3. Exit

Enter choice:  2
Enter Category:  Food
Enter Amount:  150
Enter Note:  Lunch

Expense added!

--- Expense Tracker ---
1. View Expense
2. Add Expense
3. Exit

Enter choice:  1

1 Food 150.0 Lunch

--- Expense Tracker ---
1. View Expense
2. Add Expense
3. Exit

Enter choice:  3

Exiting Expense Tracker...